#pic1{
    width: 25%;
    display: inline-block;
    margin-left: 13%;

}
#pic2{
    width:25%;
    display: inline-block;

}
#pic3{
    width:25%;
    display: inline-block;
}
#bottom{
    background-color:#fa8071;
    padding: 10% 30% 5% 30%;
}
#twitter{
    margin-left: 43%;
    width: 5%;
}
#facebook{
    width: 5%;
}
#instagram{
    width: 5%;
}